.countries-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5;
}

@media screen and (max-width: 600px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5;
  }
}

